@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 400;
}
.descuento p {
  background-color: #1cd1b0;
  font-size: 25px;
  padding: 3px 20px;
}
header {
  border: 1px solid #000000;
  background-color: #00669f;
  font-size: 25px;
  color: #fff;
  padding: 10px 15x;
  position: sticky;
  top: 0;
  z-index: 1;
}

.card {
  width: 300px;
  top: 40px; /**/
  margin: 20px auto;
}
.card .backImgBatman {

  background-image: url("../img/fondobatman.png");
  background-size: cover;
  border-radius:15px 15px 0px 0px;
  height: 250px;
  position: relative;

}
.card .backImgMaravilla {
  background-image: url("../img/fondomaravilla.png");
  background-size: cover;
  border-radius:15px 15px 0px 0px;
  height: 250px;
  position: relative;
}
.card .backImgSuperman {
  background-image: url("../img/fondosuper.png");
  background-size: cover;
  border-radius:15px 15px 0px 0px;
  height: 250px;
  position: relative;
}
.contenido {

  text-align: center;
  background-color: #f3f3f3;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contenido img {
        width: 200px;
        height: auto;
        border-radius: 50%;
        position: absolute;
        top: -150px;
        right: 50px;
}
h2 {
  padding-top: 78px;
}

.texto {
  border: 10px;
  font-family: Roboto;
  font-size: 20px;
  padding: 15px 20px;
  text-align: left;
  margin-bottom: 10px;
}

a {
  background-color: #00669f;
  border-radius: 7px;
  color: #f3f3f3;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px 40px;
  margin-bottom: 15%;
}
i {
  color: #cc2424;
  font-size: 30px;
  position: absolute;
  bottom: 80%;
}
span {
  background-color: #00669f;
  border-radius: 50%;
  bottom: 300px;
  color: #fff;
  font-size: 22px;
  height: 20px;
  width: 20px;
  position: fixed;
  right: 50px;
  padding: 20px;
  text-align: center;
}
footer {
  background-color: #00669f;
  color: #f3f3f3;
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
  padding: 17px;
}
