@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 400;
}
.descuento p{
    background-color: #1CD1B0;
    font-size: 25px;
    padding: 3px 20px;
}
header{
    border: 1px solid #000000;
    background-color: #00669F;
    font-size: 25px;
    color: #fff;
    padding: 10px 15x;
    position: sticky;
    top: 0;
    z-index: 1;
}

.card{
    margin-top: 15%;
    margin-bottom: 15%;
    width: 25%;
    height: 400px;
    position: relative;
    left: 40%;
    top: 40px;

}
 .card .backImgBatman {
    background-attachment: scroll;
    background-image: url("../img/fondomaravilla.png");
    background-repeat: repeat-x;
    background-position: center top;
    background-size: 400px 300px;
    background-position: left bottom;
    border: 10px #000000 solid;

}

.contenido{
    text-align: center;
    background-color: #F3F3F3;
    position: relative;
    height: 350px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contenido img{
    width: 150x;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 28%;
    top: -22%;
}
h2{
    padding-top: 78px;
}

.texto {
    border: 10px;
    font-family: Roboto;
    font-size: 20px;
    padding: 15px 20px;
    text-align: left;
    height: 100px;
    margin-bottom: 10px;
}

a{
    background-color:#00669F;
    border-radius: 7px;
    color: #F3F3F3;
    text-align: center;
    text-decoration: none;
    padding: 10px 40px; 
    position: relative;
    bottom: -65px;
}
i {
    color: #CC2424;
    font-size: 30px;
    position: relative;
    bottom: 80px;
}
span {
    background-color:#00669F;
    border-radius: 50%;
    bottom: 300px;
    color:#fff;
    font-size: 22px;
    height: 20px;
    width: 20px;
    position: fixed;
    right: 50px;
    padding: 20px; 
    text-align: center;
}
footer {
    background-color:#00669F;
    color: #F3F3F3;
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
    padding: 17px;

}